<div *ngIf="selectedEmployee != undefined">
    <div class="row d-flex justify-content-center m-3">
        <div class="card" style="width: 24rem;">
            <img class="card-img-top" src={{selectedEmployee.image}} alt="Card image cap">
            <div class="card-body text-dark">
                <h5 class="card-title">{{selectedEmployee.firstName}} {{selectedEmployee.lastName}}</h5>
                <ul>
                    <li class="card-text">Phone: {{selectedEmployee.phone}}</li>
                    <li class="card-text">Email: {{selectedEmployee.email}}</li>
                    <li class="card-text">Hired: {{selectedEmployee.dateHired | date}}</li>
                </ul>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
        </div>
    </div>
</div>