<div>
  <h1 class="display-1 d-flex justify-content-center">Welcome to Company Tree!</h1>
  <div class="card bg-success m-5" id="profileBase">
    <div class="card-header" id="profileHeader">
      <h3 class="mb-0">
        <button class="btn text-light" data-toggle="collapse" data-target="#profileBody" aria-expanded="true" aria-controls="profileBody">
          Profile
        </button>
      </h3>
    </div>
    <div id="profileBody" class="collapse show" aria-labelledby="profileHeader" data-parent="profileBase">
      <div class="card-body">
        <app-profile></app-profile>
      </div>
    </div>
  </div>
  <div class="card bg-success m-5" id="employeesBase">
    <div class="card-header" id="employeesHeader">
      <h3 class="mb-0">
        <button class="btn text-light" data-toggle="collapse" data-target="#employeesBody" aria-expanded="true" aria-controls="employeesBody">
          Employees
        </button>
      </h3>
    </div>
    <div id="employeesBody" class="collapse show" aria-labelledby="employeesHeader" data-parent="employeesBase">
      <div class="card-body">
        <app-employees (openProfileEmitter)="showProfile($event)"></app-employees>
      </div>
    </div>
  </div>
  <div class="card bg-success m-5" id="rolesBase">
    <div class="card-header" id="rolesHeader">
      <h3 class="mb-0">
        <button class="btn text-light" data-toggle="collapse" data-target="#rolesBody" aria-expanded="true" aria-controls="rolesBody">
          Roles
        </button>
      </h3>
    </div>
    <div id="rolesBody" class="collapse show" aria-labelledby="rolesHeader" data-parent="rolesBase">
      <div class="card-body">
        <app-roles></app-roles>
      </div>
    </div>
  </div>
</div>